/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styles */
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-rows: 80px 2fr 300px;
}

/* Navigation Styles */
nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  background: #fbfaf9;
  border: 1px solid #e7e7e7;
  padding: 20px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-login {
  text-align: right;
}

.nav-link {
  text-decoration: none;
  color: #1a1c33;
  font-size: 20px;
  font-weight: 500;
}

/* Footer Styles */
footer {
  background: #1a1c33;
  border: 1px solid #e7e7e7;
  padding: 20px;
}
